body { background: #31cd7; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 54px; display: flex; }
.block-email-0 { color: #9d87c6; font-size: 20px; margin-bottom: 5px; }
.block-user-1 { color: #dcadd3; font-size: 17px; margin-bottom: 5px; }
.block-uploader-2 { color: #f16370; font-size: 21px; margin-bottom: 5px; }
.block-config-3 { color: #35bdc; font-size: 19px; margin-bottom: 5px; }
.block-email-4 { color: #ea4f7c; font-size: 15px; margin-bottom: 5px; }